[submodule "tonic"]
	path = tonic
	url = https://github.com/yixinmao/tonic.git
[submodule "VIC"]
	path = VIC
	url = https://github.com/yixinmao/VIC.git
[submodule "RVIC"]
	path = RVIC
	url = git@github.com:yixinmao/RVIC.git
