[CONTROL]
# Random generation seed
seed = 111
# Root directory (all the paths specified would be under this root dir)
root_dir = /civil/hydro/ymao/data_assim/

[VIC]
# VIC image driver executable file
exe = VIC/vic/drivers/image/vic_image.exe
# MPI exe (this is absolute path!!!)
mpi_exe = mpiexec.hydra
# VIC global template file
vic_global_template = control/vic/hyak.global.ArkRed.test.template.Maurer_param.txt
# Model step per day. This is VIC model running timestep
model_steps_per_day = 8
# Original forcing netCDF file basepath ('YYYY.nc' will be appended)
orig_forcing_nc_basepath = forcing/vic/Newman/ArkRed/ens_100/force.
# "Truth" forcing netCDF file basepath ('YYYY.nc' will be appended)
truth_forcing_nc_basepath = output/ensemble_forcing/ArkRed/Newman_ens100_perturbed.prec_std_1.random1/ens_51/force.
# Forcing variable names:
PREC = PREC
# VIC initial state file path
vic_initial_state = output/vic/ArkRed/spinup.1949_1979.Maurer_param/states/state.19800101_00000.nc

[FORCINGS_STATES_PERTURB]
# VIC history file for determining range of each soil moisture state
# This is typically output from open-loop run
vic_history_path = output/vic/ArkRed/openloop.1980_1989.Maurer_param/history/history.openloop.1980-01-01-00000.nc
# Percentage of max value of each state to perturb (e.g., if
# state_perturb_sigma_percent = 5,0.5,0.1, then Gaussian noise with standard deviation
# = 5% of max soil moisture will be added as perturbation)
state_perturb_sigma_percent = 5,5,0.5
# Correlation coefficient across different tiles and soil layers within one grid cell (currently this is set to a constant value for all grid cells and for veg-snoband files and for soil layers)
state_perturb_corrcoef = 0.9

[TIME_INDEX]
# Simulation start and end time (YYYY-MM-DD-HH-SS)
start_time = 1980-01-01-00-00
end_time = 1989-12-31-21-00
# Synthetic measurement hour of a day (assume daily synthetic measurement)
synthetic_meas_hour = 0

[SYNTHETIC_MEAS]
# Standard deviation of Gaussian noise to add on truth to generate synthetic measurement
# For top-layer soil moisture, unit: [mm]
sigma = 1

#[RESCALE_TRUTH]
## --- This section is for rescale_truth_v2 - directly take a specified truth history file
## Basepath of a specified truth history file ("YYYY.nc" will be appended)
#truth_basepath = output/EnKF/ArkRed/random2.sm1_5.R_9.N30.no_update.bc_v3/history/EnKF_ensemble_concat/history.ens1.concat.

[OPENLOOP]
# VIC history file for openloop run. This is for rescaling truth and measurement
# This section is for rescale_truth_v1 - rescale "truth" to openloop mean and variance
# openloop_hist = output/vic/ArkRed/openloop.1980_1989.Newman/history/history.openloop.1980-01-01-00000.nc
# Base directory of openloop run output
openloop_basedir = output/vic/ArkRed/openloop.1980_1989.Maurer_param/


[OUTPUT]
# Output base directory for all output files
output_basedir = output/synthetic_data/ArkRed/random1.sm1_5.sm2_5.R_1.Maurer_param

