[SYNTHETIC]
# --- Synthetic analysis output data directory --- #
analysis_data_dir = /civil/hydro/ymao/data_assim/tools/plot_analyze_results/output/20170815.ArkRed.sm1_5.sm2_5.R_1.N32.Maurer_param.synthetic/data

[EnKF]
# --- EnKF results --- #
EnKF_result_basedir = /civil/hydro/ymao/data_assim/output/EnKF/ArkRed/random1.sm1_5.sm2_5.R_1.N32.Maurer_param/

# --- gen_synthetic results --- #
gen_synth_basedir = /civil/hydro/ymao/data_assim/output/synthetic_data/ArkRed/random1.sm1_5.sm2_5.R_1.Maurer_param/
truth_nc_filename = history.concat.19800101_00000-19891231_75600.nc
synth_meas_nc_filename = synthetic_meas.19800101_19891231.nc

# ---  Synthetic analysis results data directory --- #
synth_analysis_dir = /civil/hydro/ymao/data_assim/tools/plot_analyze_results/output/20170815.ArkRed.sm1_5.sm2_5.R_1.N32.Maurer_param.synthetic/data

# --- openloop --- #
# Basedir for openloop with states saved
openloop_basedir = /civil/hydro/ymao/data_assim/output/vic/ArkRed/openloop.1980_1989.Maurer_param/

# --- Time period (YYYY-MM-DD-HH) --- #
start_time = 1980-01-01-00
end_time = 1989-12-31-21

# --- VIC global file template (for extracting param file and snow_band) --- #
vic_global_txt = /civil/hydro/ymao/data_assim/control/vic/hyak.global.ArkRed.test.template.Maurer_param.txt

# --- Domain netCDF file --- #
domain_nc = /civil/hydro/ymao/data_assim/param/vic/ArkRed/ArkRed.domain.nc

# --- VIC parameter netCDF file --- #
vic_param_nc = /civil/hydro/ymao/data_assim/param/vic/ArkRed/Maurer/ArkRed.param.nc
    
# --- Measurement time period (YYYY-MM-DD-HH) --- #
meas_start_time = 1980-01-02-00
meas_end_time = 1989-12-31-00
freq = D

# --- Plot time period (YYYY-MM-DD-HH) --- #
plot_start_time = 1980-01-01-00
plot_end_time = 1989-12-31-00

# --- others --- #
N = 32  # number of ensemble members
ens = 1  # index of ensemble member to plot for debugging plots

[POSTPROCESS]
post_result_basedir = /civil/hydro/ymao/data_assim/output/EnKF_postprocess/ArkRed/random1.sm1_5.sm2_5.R_1.N32.Maurer_param/

output_post_dir = ./output/20170815.ArkRed.sm1_5.sm2_5.R_1.N32.Maurer_param/EnKF_result.random1.postprocess

[OUTPUT]
output_dir = ./output/20170815.ArkRed.sm1_5.sm2_5.R_1.N32.Maurer_param/EnKF_result.random1
